.header {
    height: 200px;
    background-image: url("/src/assets/background-header.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

.header h1 {
    text-shadow: -1px -1px 1px rgb(255 255 255 / 10%), 1px 1px 1px rgb(0 0 0 / 50%);
}

.card {
    height: 100%;
}

.card-img {
    height: 200px;
}

.img-container {
    height: 400px;
}
